---
import { Code } from 'astro:components';

interface Props {
	content: string;
	lang?: string;
	wrap?: boolean;
}

const { content, lang = 'markdown', wrap = true } = Astro.props;
---

<div class="not-prose" data-wrap={wrap ? '' : undefined}>
	<Code code={content} lang={lang} themes={{ light: 'github-light', dark: 'github-dark' }} />
</div>
